.App {
  text-align: center;
}

/* navbar */
.App-logo {
  pointer-events: none;
  width: 30%;
  height: 30%;
}


.menu-items {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.App-header {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
