.text-centered {
    text-align:center;
}

.home-section {
    padding-bottom: 4.2em;
}

.gap {
    margin-bottom: 1em;
}

.image-container {
    display: flex;
    column-gap: 2.4em;
    row-gap: 2.4em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.gallery-item {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .gallery-item {
        width: 40%;
    }
}